@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --theme-bg: #F8FAFC;
    --theme-surface: #ffffff;
    --theme-text: #0F172A;
    --theme-muted: #64748B;
    --theme-border: #E5E7EB;
  }
  .dark {
    --theme-bg: #020618;
    --theme-surface: #0F172B;
    --theme-text: #ffffff;
    --theme-muted: #94A3B8;
    --theme-border: #1E293B;
  }
}

*{
  font-family: "Inter", sans-serif;
}

.font-playfair{
  font-family: "Playfair Display", serif;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

.scroll-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

.commoninput {
  @apply w-full bg-[#0A0E27] border-2 border-[#1E2846] rounded-lg px-4 py-3 outline-none focus:border-[#22C55E];
}

.commonicon {
  @apply absolute left-3 top-1/2 -translate-y-1/2 text-[#90A1B9] w-4 h-4;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #000 !important;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  box-shadow: 0 0 0px 1000px #ffffff inset !important;
  transition: background-color 9999s ease-in-out 0s;
}

.dark input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0px 1000px #0F172B inset !important;
}